<section class="business">
    {{#if image}}
    <a href="./place/{{name}}">
        <img src="./images/{{image}}" height=200px></img>
        <!--Need to make size dynamic, this should work for now (removed width, was width=265px)-->
    </a>
    {{else}}
    <a href="./place/{{name}}">
        <img src="./images/no-image.jpg" height=200px></img>
    </a>
    {{/if}}

    <div class="business-body">
        <p class="indent-wrapped"><span class="name"><a href="place/{{name}}">{{name}}</a></span></p>
        <p class="indent-wrapped"><span class="type">{{type}}</span></p>
        <p class="indent-wrapped"><span class="address"><a href="http://maps.google.com/?q={{place.address}}, {{place.city}}, {{place.zipcode}}">{{address}}</a></span></p>
    </div>
</section>
